@import url('https://fonts.googleapis.com/css?family=Iceland');

body {
  background: #ececec;
  text-align: center;
  display: flex;
  width: 848px;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.form-container {
  display: inline-block;
  height: 491px;
}

iframe {
  min-width: 417px;
  min-height: 435px;
  margin: auto;
}

h1 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #228dff;
  font-size: 50px;
  font-family: Iceland;
  text-decoration: underline;
  letter-spacing: 6px;
  height: 60px;
}

h1:hover {
  /*webkit-animation: neon2 1.5s ease-in-out infinite alternate;*/
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  color: white;
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}
