* {
  margin: 0;
  padding: 0;
}

.form {
  width: 100%;
  padding: 15px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, .075);
  margin-bottom: 25px;
  color: #727272;
  font-size: 13px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

textarea {
  height: 180px;
  width: 100%;
}

input[type=submit] {
  width: 180px;
  display: block;
  height: auto;
  padding: 15px;
  color: #fff;
  background: #8bc3a3;
  border: none;
  border-radius: 3px;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
  cursor: pointer;
}

input[type=submit]:hover {
  background: #111;
  color: #fff;
  border: none;
}
 